body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color:#363636;
	font-weight:300;
	background-color: #F7F7F7;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:1em 0 0.5em;
	color:#696969;
}

h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin:0.3em 0 0.5em;
}
img {
	vertical-align:bottom;
	max-width:100%;
}

a:link,
a:visited {
	text-decoration:none;
	color:#e84e1b;
}
a:hover {
	color:#f39200;
}
a:active {
	color:#696969;
}

#header {
	height: 40px;
    background-color: #9c9da1;
	overflow: hidden;
	margin-bottom: 30px;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}



#header #logo img {
    height: 35px;
	float: left;
}

#nav ul {
	list-style: none;
	margin: 0;
}

#nav ul li {
	float: right;
	padding: 10px;
}
#nav ul li a{
	padding: 10px;
	font-size: 17px;
	color:#bc3138;
}
#header .wrapper #nav ul li a:hover {
	color:#E61A23;
	background: #696969;
	transition: all 0.2s linear;
}



#inputfilter{
	margin-top:20px;
	border-radius: 5px;
	background-color: #F7F7F3;
}


.button form {
	margin-top: 30px;
}


.button1{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #fff;
	background-color: #E61A23;
	font-weight: bold;
}
.button1:hover{
	background-color: #A8A8A8;
	
}

.table-title{
	
	text-align:center;
	
}

#table{
	overflow: scroll;
	height: 550px;
	clear:both;
	margin-top: 30px;
}
#table table.mainTable {
  border: 1px solid #BC3138;
  background-color: #F1F1F1;
  width:250%;
  border-collapse: collapse;
  text-align: center;
 
	
}



#table table.mainTable td, table.mainTable th {
  border: 1px solid #D1D1D1;
}

#table table.mainTable tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #727272;
  width: 50px;
  
}
#table table.mainTable tr:nth-child(even) {
  background: #FCD9D9;
}
#table table.mainTable thead {
  background: #BC3138;
  background: -moz-linear-gradient(top, #cd646a 0%, #c2454c 66%, #BC3138 100%);
  background: -webkit-linear-gradient(top, #cd646a 0%, #c2454c 66%, #BC3138 100%);
  background: linear-gradient(to bottom, #cd646a 0%, #c2454c 66%, #BC3138 100%);
  border-bottom: 2px solid #444444;
 
  
}
#table table.mainTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
  padding: 5px;
 
}
#table table.mainTable thead th:first-child {
  border-left: none;
}

#table table.mainTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #FCD9D9;
  background: -moz-linear-gradient(top, #fde2e2 0%, #fcdcdc 66%, #FCD9D9 100%);
  background: -webkit-linear-gradient(top, #fde2e2 0%, #fcdcdc 66%, #FCD9D9 100%);
  background: linear-gradient(to bottom, #fde2e2 0%, #fcdcdc 66%, #FCD9D9 100%);
  border-top: 2px solid #6C6C6C;
}
#table table.mainTable tfoot td {
  font-size: 14px;
}
#table table.mainTable tfoot .links {
  text-align: right;
}
#table table.mainTable tfoot .links a{
  display: inline-block;
  background: #BC3138;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}




.tableFixHead {
  
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: -1px;
  background: #BC3138;
  background: -moz-linear-gradient(top, #cd646a 0%, #c2454c 66%, #BC3138 100%);
  background: -webkit-linear-gradient(top, #cd646a 0%, #c2454c 66%, #BC3138 100%);
  background: linear-gradient(to bottom, #cd646a 0%, #c2454c 66%, #BC3138 100%);
  border-bottom: 2px solid #444444;
}


.e_table {
	width:250px;
	height: 550px;
	margin-top: 30px;
	overflow:scroll;
	border: 1px solid #BC3138;
	background-color: #F1F1F1;
	border-collapse: collapse;
	text-align: center;
	border: 1px solid #D1D1D1;
	font-weight: bold;
 
}



#footer {
	
	margin-top:50px;
	
}




